.git
.gitignore
.gitattributes
.github

dockerfile
Dockerfile*
.dockerignore
docker-compose*.yml
docker-compose*.yaml

.env
.env.*
!.env.example

**/__pycache__
**/*.py[cod]
**/*.egg-info
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
build
dist

venv
.venv
env
ENV

.vscode
.idea
**/*.swp

**/*.db
**/*.sqlite
**/*.sqlite3

*.md
LICENSE*

tests
pytest.ini